{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col w-full max-w-md">
            <h2 class="text-2xl font-bold mb-6">Passwort zurücksetzen</h2>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded">
                    Passwort zurücksetzen
                </button>
            </form>
        </div>
    </div>
{% endblock %}