<table class="table">
    <thead id="barrack-header">
    <tr>
        <th>Speerwerfer</th>
        <th>Schwertkämpfer</th>
        <th>Bogenschützen</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <input type="number" class="input input-bordered w-full max-w-xs unit-input" min="0" value="0"/>
        </td>
        <td>
            <input type="number" class="input input-bordered w-full max-w-xs unit-input" min="0" value="0"/>
        </td>
        <td>
            <input type="number" class="input input-bordered w-full max-w-xs unit-input" min="0" value="0"/>
        </td>
    </tr>
    </tbody>
</table>

<div class="flex mt-2">
    <p id="training-costs">Gesamtkosten: 0 Holz, 0 Stein, 0 Gold, 0 Werkzeuge</p>
    <button id="train-btn" class="btn btn-primary ">Einheiten ausbilden</button>
</div>
