{% load static %}
<!doctype html>
<html lang="en" data-theme="cupcake">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->

    <link href="{% static 'css/output.css' %} " rel="stylesheet">
    
    {% block title %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<header>
    {% if user.is_authenticated %}
        {% include 'core/nav.html' %}
    {% endif %}
</header>
<body>
{% block content %}

{% endblock %}
</body>
</html>