{% load tz %}

<div id="{{ building.name }}" class="card bg-base-100 shadow">
    <div class="card-body">
        <div class="card-title justify-between">
            <h5>{{ building.get_name }}</h5>
            <small id="building-lvl">Stufe 1</small>
        </div>
        <p class="mb-2 opacity-75 description">{{ building.get_description }}</p>
        <div id="tooltip-progress" class="tooltip" data-tip="">
            <progress class="progress progress-warning w-100" value="0" max="100"></progress>
        </div>

        <div class="card-actions flex justify-center">
            <div id="tooltip-upgrade-btn" class="tooltip" data-tip="">
                <button id="upgrade-button" class="btn btn-primary" type="submit">Ausbauen</button>
            </div>
            <button class="btn" onclick="modal_{{ building.name }}.showModal()">Information</button>
            <dialog id="modal_{{ building.name }}" class="modal">
                <div class="modal-box">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 class="font-bold text-lg">{{ building.name }}</h3>
                    <p class="py-3 opacity-75 description">{{ building.get_description }}</p>
                    {% if building.is_production_building %}
                    <div class="overflow-auto">
                        <table class="table table-zebra">
                            <thead>
                            <tr>
                                <th>Stufe</th>
                                <th>Produktion / Stunde</th>
                                <th>Kosten<br>Holz</th>
                                <th>Kosten<br>Stein</th>
                                <th>Kosten<br>Gold</th>
                                <th>Kosten<br>Werkzeug</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ building.get_info_table|safe }}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
            </dialog>
        </div>
    </div>
</div>
