<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="infoModal-title" id="infoModalLabel">Information zu </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="infoModal-description"></p>
                <div class="mb-3">
                    <p class="infoModal-stats"></p>
                </div>
            </div>
        </div>
    </div>
</div>